<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <nav>
        <ul>
            <li>@Html.ActionLink("Список работников", "Index", "Employees")</li>
            <li>@Html.ActionLink("Список компаний", "Index", "Companies")</li>
        </ul>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
</body>
</html>
